<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Pagina principal de usuarios</title>

    </head>
    <body>
      <section class="title">
        <h1>Conceptos Docker</h1>
      </section>
        <nav class="contenedor2">
          <ul class="part1">
            <li> <a href={{intro}}>
                <span class="text-item">Introducción</span>
            </a></li>

            <li> <a href={{imagenes}}>
                <span class="text-item">Imagenes</span>
            </a></li>

              <li> <a href={{directivas}}>
                  <span class="text-item">Directivas</span>
              </a></li>

              <li> <a href={{ciclodevida}}>
                  <span class="text-item">Ciclo de vida</span>
              </a></li>

              <li> <a href={{contenedores}}>
                  <span class="text-item">Contenedores</span>
              </a></li>

              <li> <a href={{archivo}}>
                  <span class="text-item">Archivo</span>
              </a></li>


          </ul>
        </nav>
        <div class="contenedor5">

        </div>
    </body>
</html>
