<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Página principal de usuarios</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>
    <body>
      <section class="title">
        <h1>Equipo Scrum</h1>
      </section>
        <nav class="contenedor2">
          <ul class="part1">
            <li> <a href={{jerico}}>
                <img src='/css/{{img}}' width="100" height="100" alt="" class="imagen">
                <span class="text-item">Jerico</span>
                <span class="down-item"></span>
            </a></li>

            <li> <a href={{fernan}}>
                <img src='/css/{{img1}}' width="100" height="100" alt="" class="imagen">
                <span class="text-item">Fernando</span>
                <span class="down-item"></span>
            </a></li>

              <li> <a href={{alan}}>
                  <img src='/css/{{img2}}' width="100" height="100" alt="" class="imagen">
                  <span class="text-item">ALan</span>
                  <span class="down-item"></span>
              </a></li>

              <li> <a href={{dana}}>
                  <img src='/css/{{img3}}' width="100" height="100" alt="" class="imagen">
                  <span class="text-item">Dana</span>
                  <span class="down-item"></span>
              </a></li>

              <li> <a href={{hassel}}>
                  <img src='/css/{{img4}}' width="100" height="100" alt="" class="imagen">
                  <span class="text-item">Hassel</span>
                  <span class="down-item"></span>
              </a></li>

              <li> <a href={{javier}}>
                  <img src='/css/{{img5}}' width="100" height="100" alt="" class="imagen">
                  <span class="text-item">Javier</span>
                  <span class="down-item"></span>
              </a></li>

              <li> <a href={{maria}}>
                  <img src='/css/{{img6}}' width="100" height="100" alt="" class="imagen">
                  <span class="text-item">Maria</span>
                  <span class="down-item"></span>
              </a></li>

              <li> <a href={{luis}}>
                  <img src='/css/{{img7}}' width="100" height="100" alt="" class="imagen">
                  <span class="text-item">Luis</span>
                  <span class="down-item"></span>
              </a></li>

              <li> <a href={{jose}}>
                  <img src='/css/{{img8}}' width="100" height="100" alt="" class="imagen">
                  <span class="text-item">Jose</span>
                  <span class="down-item"></span>
              </a></li>


          </ul>
        </nav>
        <div class="contenedor5">

        </div>
        <footer class="footer mt-auto py-3 bg-light">
          <div class="container">
            <a href={{regr}} >Regresar</a>
            <span class="text-muted" href={{regr}}>Página principal equipo</span>
          </div>
        </footer>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
          </body>
    </body>
</html>
